.App {
  font-family: sans-serif;
  margin: 0 15px;
  /*text-align: center;*/
}

h1 {
  font-weight: bold;
  font-size: 20px;
}

table {
  margin: 60px 0;
}

thead {
  margin-left: 650px;
}

tbody tr {
  margin-left: 650px;
}

th{
  font-weight: normal;
  font-size: 16px;
  padding-right: 150px;
  color: grey;
}

td{
  font-weight: normal;
  font-size: 16px;
  padding-right: 150px;
  color: grey;
}

.root {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.6fr 3fr;
  grid-template-rows: 0.3fr 3.5fr;
  grid-template-areas: "sidebar header" "sidebar mainpane";
}

.header {
  grid-area: header;
  border: 1px solid grey;
}

.sidebar {
  grid-area: sidebar;
  border: 1px solid grey;
}

.mainpane {
  grid-area: mainpane;
  border: 1px solid grey;
}

#attractionlist {
  grid-area: alist;
  margin: 0 20px;
}

#itinerarylist {
  grid-area: ilist;
  margin: 0 20px;
}